# To Project sales for upcming months and plan inventory

--> There are two source of data , one is the overall sales and purchase file with only the sales

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import datetime

In [7]:
df=pd.read_csv('Sales_ForecastDS.csv',parse_dates=['Date','Year name'])# changed date and year name to date formats

In [8]:
df.head()
## Data succesfully loaded

,Date,Particulars,Vch Type,Vch No.,VALUE,month name,Year name,gross profit,STV RPF
0,2016-01-01,Phoon Huat & Co (Pte) Ltd,Purchase,4439385,$44.94,January,2016-01-01,-$44.94,STV
1,2016-01-01,Choon Vegetables & Fruits Trading Supplier,Purchase,INV10369,$30.00,January,2016-01-01,-$30.00,STV
2,2016-01-01,Sin Hwa Coconuts Industrial Pte Ltd,Purchase,SH1600015,$83.46,January,2016-01-01,-$83.46,STV
3,2016-02-01,Sin Hwa Coconuts Industrial Pte Ltd,Purchase,SH1600037,$147.66,January,2016-01-01,-$147.66,STV
4,2016-04-01,Chew's Agriculture Pte Ltd,Purchase,IN16-C006130,$163.71,January,2016-01-01,-$163.71,STV

In [9]:
df.describe(include="all",datetime_is_numeric=True)
# 123068 rows and 9 columns

,Date,Particulars,Vch Type,Vch No.,VALUE,month name,Year name,gross profit,STV RPF
count,123068,123068,123068,123068,122947,123068,123068,123068,123068
unique,NaN,588,2,123060,17482,12,NaN,20067,2
top,NaN,Marina Bay Sands Pte Ltd,Sales,RP0921-0097,$32.10,January,NaN,$32.10,STV
freq,NaN,7708,103438,2,1524,11700,NaN,1464,121320
mean,2019-07-10 11:15:37.120941056,NaN,NaN,NaN,NaN,NaN,2019-01-08 03:28:30.547014912,NaN,NaN
min,2016-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,2016-01-01 00:00:00,NaN,NaN
25%,2018-03-14 00:00:00,NaN,NaN,NaN,NaN,NaN,2018-01-01 00:00:00,NaN,NaN
50%,2019-08-26 00:00:00,NaN,NaN,NaN,NaN,NaN,2019-01-01 00:00:00,NaN,NaN
75%,2021-01-04 00:00:00,NaN,NaN,NaN,NaN,NaN,2021-01-01 00:00:00,NaN,NaN
max,2022-12-01 00:00:00,NaN,NaN,NaN,NaN,NaN,2022-01-01 00:00:00,NaN,NaN

In [5]:
df.dtypes

Date            datetime64[ns]
Particulars             object
Vch Type                object
Vch No.                 object
VALUE                   object
month name              object
Year name                int64
gross profit            object
STV RPF                 object
dtype: object

In [36]:
df["VALUE"]=pd.to_numeric(df["VALUE"])

ValueError: Unable to parse string "$44.94" at position 0

In [27]:
df["Date"]=pd.to_datetime(df["Date"]).dt.date

In [10]:
df.plot(kind='line',y=["VALUE"],x="month name")

TypeError: no numeric data to plot

## Domain Analysis (Raw data)
1. Date : Date of invoice
2. Particulars : Customer / Vendor Name
3. Vch Type : sales - sales vouchers ; Purchase - purchase vouchers
4. Vch No : voucher number (Not required)
5. VALUE : Total sales or purchase items values (inclusive of 7% GST)
6. month name : Name of the month (Not required)
7. Year name : Name of the year (Not required)
8. gross Profit : "+" if sales and "-" if purchase (Not required)
9. STV RPF : Name of the two companies